.edit-fields {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

mat-dialog-content img {
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.response-message {
  margin-top: 25px;
  text-align: center;
}

.close-button {
  width: 150px !important;
  background-color: #ff7d0d;
}

.save-button {
  width: 150px !important;
  background-color: #32c2d2;
}
