<h2 mat-dialog-title style="text-align: center">{{ city.name }}</h2>

<mat-dialog-content>
  <div style="display: flex; justify-content: center">
    <img
      mat-card-image
      [src]="city.photo"
      alt="Photo of {{ city.name }}"
      onerror="this.src='assets/images/not-found-image.jpeg'"
    />
  </div>

  <div *ngIf="responseMessage !== '' && !edit" class="response-message">
    <span>{{ responseMessage }}</span>
  </div>

  <div *ngIf="edit">
    <form [formGroup]="editForm" (ngSubmit)="editCity()">
      <div class="edit-fields">
        <mat-form-field class="form-field" appearance="outline">
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <input type="text" matInput formControlName="photo" />
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions style="display: flex; justify-content: space-evenly">
  <button mat-raised-button color="accent" (click)="close()">Close</button>
  <button
    mat-raised-button
    color="primary"
    (click)="edit ? editCity() : toggleEdit()"
  >
    {{ edit ? "Save" : "Edit" }}
  </button>
</mat-dialog-actions>
