<h2 mat-dialog-title class="text-center">{{ city.name }}</h2>

<mat-dialog-content>
  <div class="flex-justify-center">
    <img
      mat-card-image
      [src]="city.photo"
      alt="Photo of {{ city.name }}"
      onerror="this.src='assets/images/not-found-image.jpeg'"
    />
  </div>

  <h2 class="response-message">{{ responseMessage }}</h2>

  <div>
    <form [formGroup]="editForm" (ngSubmit)="editCity()">
      <div class="edit-fields">
        <mat-form-field class="form-field" appearance="outline">
          <input
            type="text"
            matInput
            (focus)="resetResponseMessage()"
            (focusout)="resetResponseMessage()"
            formControlName="name"
          />
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <input
            type="text"
            matInput
            (focus)="resetResponseMessage()"
            (focusout)="resetResponseMessage()"
            formControlName="photo"
          />
        </mat-form-field>
      </div>
      <mat-dialog-actions class="flex-justify-space-evenly">
        <button
          mat-raised-button
          class="close-button"
          type="button"
          (click)="close()"
        >
          Close
        </button>
        <button
          mat-raised-button
          class="save-button"
          type="submit"
          (click)="editCity()"
        >
          Save
        </button>
      </mat-dialog-actions>
    </form>
  </div>
</mat-dialog-content>
