<app-wrapper>
  <div class="search-container">
    <form [formGroup]="searchForm" (ngSubmit)="onSearchClick()">
      <mat-form-field class="form-field search-input" appearance="outline">
        <input
          placeholder="Search for a city"
          type="text"
          matInput
          formControlName="name"
        />
      </mat-form-field>
      <div class="button-container">
        <button
          class="reset-button"
          type="reset"
          (click)="resetSearch()"
          mat-raised-button
        >
          Reset
        </button>
        <button class="search-button" type="submit" mat-raised-button>
          Search
        </button>
      </div>
    </form>
  </div>

  <mat-paginator
    *ngIf="cityData?.cities?.length != 0"
    [length]="cityData?.totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPaginateChange($event)"
    showFirstLastButtons
  >
  </mat-paginator>

  <div class="cards">
    <mat-card class="card" *ngFor="let city of cityData?.cities">
      <div style="display: flex; justify-content: center">
        <img
          mat-card-image
          [src]="city.photo"
          alt="Photo of {{ city.name }}"
          onerror="this.src='assets/images/not-found-image.jpeg'"
        />
      </div>
      <mat-card-content>
        <mat-card-header style="justify-content: center">
          <mat-card-title>
            <button
              *ngIf="canEditCity; else cityName"
              mat-button
              (click)="editCity(city)"
            >
              <h2 style="margin-bottom: 0">{{ city.name }}</h2>
              <mat-icon>mode_edit</mat-icon>
            </button>
            <ng-template #cityName>
              <h2>{{ city.name }}</h2>
            </ng-template>
          </mat-card-title>
        </mat-card-header>
      </mat-card-content>
    </mat-card>
  </div>

  <h2 style="text-align: center" *ngIf="cityData?.cities?.length == 0">
    NO CITIES FOUND
  </h2>

  <mat-paginator
    *ngIf="cityData?.cities?.length != 0"
    [length]="cityData?.totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPaginateChange($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</app-wrapper>
