mat-card img {
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.search-container {
  margin-bottom: 25px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  max-width: 400px;
  margin-top: 30px;
  justify-content: center;
  display: flex;
}

.card:first-child {
  max-width: 400px;
  margin-top: 0;
  justify-content: center;
  display: flex;
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px 0;
}

.search-button {
  width: 150px !important;
  background-color: #32c2d2;
}

.reset-button {
  width: 150px !important;
  background-color: #ff7d0d;
}

.search-input {
  width: 100%;
}

::ng-deep .mat-mdc-paginator-container {
  justify-content: center !important;
}
