<app-wrapper>
  <mat-card class="register-container">
    <mat-card-content>
      <h2>Register</h2>

      <h3 class="error-message">{{ errorMessage }}</h3>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width form-field" appearance="outline">
          <mat-label>Username</mat-label>
          <input type="text" matInput formControlName="username" />
          <mat-error *ngIf="registerForm.hasError('required', 'username')">
            Username is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width form-field" appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" />
          <mat-error *ngIf="registerForm.hasError('required', 'password')">
            Password is required
          </mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button
            type="submit"
            class="full-width"
            mat-raised-button
            color="primary"
          >
            Register
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</app-wrapper>
