<mat-toolbar>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <div class="auth-container">
    <button
      mat-button
      color="primary"
      *ngIf="userInfo?.jwt"
      [routerLink]="'/cities'"
    >
      Cities
    </button>
    <button
      mat-button
      color="accent"
      *ngIf="!userInfo?.jwt"
      [routerLink]="'/login'"
    >
      Login
    </button>
    <button mat-button *ngIf="userInfo?.jwt" (click)="logout()">Logout</button>
    <button
      mat-button
      *ngIf="!userInfo?.jwt"
      color="warn"
      [routerLink]="'/register'"
    >
      Register
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
