<mat-toolbar class="header">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <div class="auth-container">
    <button mat-button *ngIf="userInfo?.jwt" [routerLink]="'/cities'">
      Cities
    </button>
    <button mat-button *ngIf="!userInfo?.jwt" [routerLink]="'/login'">
      Login
    </button>
    <button mat-button *ngIf="userInfo?.jwt" (click)="logout()">Logout</button>
    <button mat-button *ngIf="!userInfo?.jwt" [routerLink]="'/register'">
      Register
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<div class="footer">
  <mat-icon
    class="logo"
    (click)="onLogoClick()"
    svgIcon="proekspert_logo"
  ></mat-icon>
</div>
